body{
    background-color: azure;
}
header{
    font-size: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form button {
    color: blueviolet;
    background-color: white;
    cursor: pointer;
    transtion: all 0.3 ease;
}
form button:hover {
    background: violet;
    color: white;
}
form input, form button{
    font-size: 30px;
}
.todo-container {
    display: flex;
    justify-content: center ;
    align-items: center;
}
.todo-List{
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5 rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.trash-btn, .complete-btn{
    background: blanchedalmond ;
    color: rgb(136, 69, 69);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: goldenrod;
}
.todo-item {
    padding: 0rem 0.5rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through ;
    opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance:none;
    -mox-appearance:none;
    appearance:none;
    outline: none;
    border: none;
}
.select {
    margin: 1 rem;
    position: relative;
    overflow: hidden;
}
select {
    color: red;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after {
    content: "\25BC";
    position: absolute;
    background: lightcoral;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}
.select:hover::after {
    background: white;
    color: burlywood;
}